{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	<main>
		<div class="container my-5 m-auto d-flex flex-column " style="min-height: 400px;">
			{% if products is not empty %}
				<div class="row row-cols-2 mb-5 row-cols-sm-3 row-cols-lg-4 g-2 justify-content-center justify-content-sm-start">
					{% for product in products %}
						<div class="col-5">
							<a href="" class="nav-link">
								<div class="card-custom position-relative overflow-hidden">
                                    {% if product.discount %}
                                        <span class="text-white custom-flag bg-danger text-uppercase px-2 fw-bold fs-3">
                                            Sale
                                        </span>
                                    {% endif %}
                                    <img src="{{ asset('uploads/images/products/categories/' ~ product.category.id ~ '/' ~ product.imgProduct) }}" alt="{{ product.name }}" class="card-img-top" style="object-fit: cover;">
									<div class="card-body p-2">
										<div class="d-flex">
											{% if product.salePrice < product.priceList %}
												<span class="fw-medium pe-2">
													{{ (product.salePrice / 100) | number_format(0, ',', '.') }}
													ARS
												</span>
												<del class="text-danger fw-medium flex-grow-1">
													{{ (product.priceList / 100) | number_format(0, ',', '.') }}
													ARS
												</del>
											{% else %}
												<span class="fw-medium">
													{{ (product.priceList / 100) | number_format(0, ',', '.') }}
													ARS
												</span>
											{% endif %}
										</div>
										{% if product.discount %}
											<span class="fw-medium text-success">{{product.discount}}% de descuento</span>
										{% endif %}
										<p class="card-text m-0 fw-medium">{{product.name}}</p>
										<p class="card-text text-muted">
											{{ product.category }}
											{{ product.brand }}
											para
											{{ product.gender == "Sin Especificar" ? product.sport : product.gender }}
										</p>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="col-12 text-center">
					No se encontraron productos de
					{{title}}
				</div>
			{% endif %}

			<!-- Controles de paginación -->
			<div class="pagination mt-4 d-flex justify-content-center mt-auto">
				{% if currentPage > 1 %}
					<a href="{{ path('brand', { 'slug': brand.slug, 'page': currentPage - 1 }) }}" class="btn btn-outline-primary mx-1">Anterior</a>
				{% endif %}

				{% for i in 1..totalPages %}
					<a href="{{ path('brand', { 'slug': brand.slug, 'page': i }) }}" class="btn mx-1 {{ currentPage == i ? 'btn-primary' : 'btn-outline-primary' }}">
						{{ i }}
					</a>
				{% endfor %}

				{% if currentPage < totalPages %}
					<a href="{{ path('brand', { 'slug': brand.slug, 'page': currentPage + 1 }) }}" class="btn btn-outline-primary mx-1">Siguiente</a>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
