{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
      <div class="col-12 d-flex overflow-auto scrollbar-custom p-0" id="scroll-container-{{ category.id }}">
        {% for product in products %}
            {% if category.name == product.category %}
                <div class="products col-4 col-lg-3 col-md-3 col-sm-4">
                    <div class="card mx-1 mb-3 border-0 rounded-0 hover-card">
                        <a class="text-decoration-none text-black" href="">
                            <img class="card-img-top rounded" src="{{ asset('uploads/images/products/categories/' ~ product.category.id ~ '/' ~ product.imgProduct) }}" alt="{{ product.name }}" style="min-width: 170px !important;">
                            <div class="card-body p-2">
                            <h5 class="card-title m-0">{{ product.name }}</h5>
                                <div class="d-flex flex-column flex-xl-row justify-content-between">
                                    <div class="flex-grow-1 mb-2 mb-xl-0">
                                        <p class="card-text small text-break">{{ product.description }}</p>
                                    </div>
                                    <p class="card-text fw-semibold mt-2 mt-md-0">$ {{ product.priceSale }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if category.getProducts()|length >= 4 %}
            <button class="scroll-btn-left carousel-control-prev" type="button" data-target="scroll-container-{{ category.id }}">
                <span class="carousel-control-prev-icon text-end bg-trasparent" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="scroll-btn-right carousel-control-next" type="button" data-target="scroll-container-{{ category.id }}">
                <span class="carousel-control-next-icon bg-trasparent" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        {% endif %}
    </div>
{% endblock %}
