{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<main>
    <div class="container my-5 m-auto">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-3 g-2 justify-content-center justify-content-sm-start">
            {% for category in categories %}
					{% if category.ImgCategory %}
						<div class="col-4">
							<a href="{{ path('show_category_slug', { 'slug': category.slug }) }}" class="nav-link">
								<img src="{{ asset('uploads/images/products/categories/' ~ category.id ~ '/CategoryProfileImage/' ~ category.ImgCategory) }}" 
									alt="{{ category.name }}" 
									class="card-img-top" 
									style="object-fit: cover;">
							</a>
							<h3>{{category.name}}</h3>
						</div>
					{% endif %}
				{% endfor %}
        </div>

         <!-- Controles de paginación -->
        <div class="pagination mt-4 d-flex justify-content-center">
            {% if currentPage > 1 %}
                <a href="{{ path('categories', { 'page': currentPage - 1 }) }}" class="btn btn-outline-primary mx-1">Anterior</a>
            {% endif %}

            {% for i in 1..totalPages %}
                <a href="{{ path('categories', { 'page': i }) }}" 
                   class="btn mx-1 {{ currentPage == i ? 'btn-primary' : 'btn-outline-primary' }}">
                    {{ i }}
                </a>
            {% endfor %}

            {% if currentPage < totalPages %}
                <a href="{{ path('categories', { 'page': currentPage + 1 }) }}" class="btn btn-outline-primary mx-1">Siguiente</a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
