{% extends 'base.html.twig' %}

{% block title %}
    {{ product.category }}
    {{ product.name }}
    
{% endblock %}

{% block body %}
    <main>
        <div class="container my-5">
            <div class="row justify-content-center g-5">
                <div class="col-5">
                    <img src="{{ asset('uploads/images/products/categories/' ~ product.category.id ~ '/' ~ product.imgProduct) }}" alt="{{ product.name }}" class="card-img-top h-100 shadow-sm" style="object-fit: cover; max-width: 500px;">
                </div>
                <div class="col-5">
                        <h1 class="display-5 fw-bold">{{product.name}}</h1>
                        <p class=" text-muted">
                            {{ product.category }}
                            {{ product.brand }}
                            para
                            {{ product.gender == "Sin Especificar" ? product.sport : product.gender }}
                        </p>
                        <div class="d-flex flex-column flex-lg-row g-2">
                            {% if product.salePrice < product.priceList %}
                                <span class="fw-medium pe-2">
                                    {{ (product.salePrice / 100) | number_format(0, ',', '.') }}
                                    ARS
                                </span>
                                <del class="text-danger fw-medium pe-2">
                                    {{ (product.priceList / 100) | number_format(0, ',', '.') }}
                                    ARS
                                </del>
                            {% else %}
                                <span class="fw-medium">
                                    {{ (product.priceList / 100) | number_format(0, ',', '.') }}
                                    ARS
                                </span>
                            {% endif %}
                            {% if product.discount %}
                                <span class="fw-medium text-success">{{product.discount}}% de descuento</span>
                            {% endif %}
                        </div>\
                        
                        <p>{{product.description}}</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
