{% extends 'base.html.twig' %}

{% block title %}
    {{ product.category }}
    {{ product.name }}
    
{% endblock %}

{% block body %}
    <main>
        <div class="container my-5 px-5">
            <div class="d-flex justify-content-center gap-5">
                <div class="flex-shrink-0 p-2">
                    <img src="{{ asset('uploads/images/products/categories/' ~ product.category.id ~ '/' ~ product.imgProduct) }}" alt="{{ product.name }}" class="img-fluid shadow-sm" style="">
                </div>
                <div class="ms-5 d-flex flex-column gap-4 col-4 p-2">
                    <div class="d-flex flex-column gap-1">
                        <h3 class="fw-bold">{{product.brand}} {{product.name}}</h3>
                        <h5 class=" text-muted">
                            {{ product.category }}
                            {{ product.brand }}
                            para
                            {{ product.gender == "Sin Especificar" ? product.sport : product.gender }}
                        </h5>
                        <div class="d-flex flex-column gap-2">
                            <div class="col-12">
                                {% if product.salePrice < product.priceList %}
                                    <span class="fw-medium pe-2">
                                        {{ (product.salePrice / 100) | number_format(0, ',', '.') }}
                                        ARS
                                    </span>
                                    <del class="text-danger fw-medium pe-2">
                                        {{ (product.priceList / 100) | number_format(0, ',', '.') }}
                                        ARS
                                    </del>
                                {% else %}
                                    <span class="fw-medium">
                                        {{ (product.priceList / 100) | number_format(0, ',', '.') }}
                                        ARS
                                    </span>
                                {% endif %}
                            </div>
                            {% if product.discount %}
                                <span class="fw-medium text-success flex-grow-1">{{product.discount}}% de descuento</span>
                            {% endif %}
                            {% set showLowStockMessage = false %}

                            {% for size in product.sizes %}
                                {% if size.stock <= 3 %}
                                    {% if not showLowStockMessage %}
                                        <span class="fw-medium text-warning flex-grow-1" id="message" hidden>¡Quedan pocos en este talle!</span>
                                        {% set showLowStockMessage = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between mb-2">
                            <span class="fw-medium"><small>Seleccionar Talle (ARS)</small></span>
                            <a class="fw-medium text-muted" href="" type="button" data-bs-toggle="modal" data-bs-target="#sizeModal"><small>Guia de Talles</small></a>
                        </div>
                        <div class="d-flex align-content-around flex-wrap gap-2">
                            {% for size in product.sizes %}
                                <a 
                                    href="javascript:void(0)" 
                                    class="border rounded fw-bold text-black text-decoration-none sizes position-relative" 
                                    style="height: 60px; width: 92px" 
                                    data-size="{{ size.size }}"
                                    data-stock="{{ size.stock }}" 
                                    onclick="selectSize(this)"
                                >
                                    {% if size.stock < 1 %}
                                        <div class="position-absolute w-100 h-100"></div>
                                    {% endif %}
                                    <div class="d-flex justify-content-center align-items-center h-100">
                                        <span>{{ size.size }}</span>
                                    </div>

                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    {# <form method="post" action="{{ path('cart_add', {id: product.id}) }}" id="sizeForm"> #}
                    <form method="post" action="" id="sizeForm" class="d-grid">
                        <input type="hidden" name="size" id="selectedSize">
                        <button type="submit" class="btn btn-lg btn-primary mt-3 fw-semibold" id="addToCartButton" disabled>
                            <i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
                            Agregar al Carrito
                        </button>
                    </form>
                    <div class="" style="text-align: justify;">
                        <p>{{product.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="sizeModal" tabindex="-1" aria-labelledby="sizeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <img src="{{ asset('uploads/images/guia_talles.jpg') }}" alt="" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
