{% extends 'base.html.twig' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <img src="  {{ user.imgProfile
                ? asset('uploads/images/profiles/' ~ userImageDirectory)
                : (user.gender == 'masculino')
                    ? asset('uploads/images/profiles/defaultMaleImageProfile.jpg')
                    : (user.gender == 'femenino')
                        ? asset('uploads/images/profiles/defaultFemaleImageProfile.jpg')
                        : asset('uploads/images/profiles/defaultImageProfile.jpg')
                }}" width="250" alt="">
    <p>{{user.name}}</p>
    <p>{{user.lastname}}</p>
    <p>{{user.email}}</p>
    <p>{{user.gender}}</p>

<a type="button" href="{{ path('user_edit', {'id':user.id}) }}" class="btn btn-warning">Editar</a>
{% endblock %}
