{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<div class="border border-light p-3">
    <div class="border-bottom mb-2">
        <h1>{{title}} Usuario</h1>
    </div>
    <div class="row">
        {{ form_start(form, {
            'action': path('user_update', { 'id': user.id }),
            'method': 'POST',
            attr: { 'data-turbo': 'false' }
        })}}
        <div class="mb-3">
            <img src="{{ user.imgProfile
                    ? asset('uploads/images/profiles/' ~ userImageDirectory)
                    : (user.gender == 'masculino')
                        ? asset('uploads/images/profiles/defaultMaleImageProfile.jpg')
                        : (user.gender == 'femenino')
                            ? asset('uploads/images/profiles/defaultFemaleImageProfile.jpg')
                            : asset('uploads/images/profiles/defaultImageProfile.jpg')
                    }}" alt="" width="250" class="border border-secondary rounded" >
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{form_row(form.img_profile)}}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{form_row(form.name)}}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{form_row(form.lastname)}}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{form_row(form.email)}}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{form_row(form.gender)}}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.old_password) }}
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                {{ form_row(form.new_password) }}
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
